@import "../../../assets/style/default";

// default theme
.@{ant-prefix}-cobrands {
    position: relative;
    overflow: hidden;

    .coorperList{
        display: flex; 
        flex-wrap: wrap; 
        position: relative; 
        
        > li {
            display: flex; 
            flex-wrap: wrap;
            border-bottom:1px solid #eee;
            border-right:1px solid #eee;
            overflow: hidden;
            width: 171.4px;
            height: 87px;
         
          
            & a {
                margin-top: 1px; 
                margin-right: 1px; 
                width: 169.5px; 
                height: 85px; 
                background-color: #fff; 
                display: flex;
                justify-content: center;
                align-items: center;
                &:hover {
                  background-color: rgba(31, 45, 61, 0.41);
                }
                & img{ 
                    height: 65%;
                }
            }
        }
      
    
    }
}