/**
 * @file App config / Commonjs module
 * @module app.config
 * @author fgf67@163.com
 */

exports.meta = {
    title: '巨正源',
    keywords: '巨正源,化工产品,原油,成品油,塑化产品',
    description: '巨正源经营范围包括从事原油、成品油、燃料油、沥青、润滑油、溶剂油、石脑油、甲醇、石油芳烃、化工轻油、液化石油气、天然气、易燃液体、压缩气体及液化气体、煤油、航空煤油、化工产品等',
    url: 'http://127.0.0.1',
    author: 'hmymingyu',
    email: 'fgf67@163.com',
}

exports.system = {
    defaultStrip: 20,
    dropDown: [12, 20, 50, 100, 200, 300],
    cookieExpires: 1,
    BASE_URL: {
        dev: 'http://192.168.40.31:10010/',
        test: 'https://test.ejzy.cn/',
        pro: 'https://test.ejzy.cn/'
    },
    UPLOAD_URL: {
        dev: '//192.168.40.31:28082/image',
        test: '//up2.ejzy.cn/image',
        pro: '//up.ejzy.cn/image'
    }

}

exports.orderType = {
    1: '现货订单',
    2: '预售订单',
    3: '竞拍订单',
    4: '专用料订单',
    5: '出口订单'
}
