@import "../../../assets/style/default";

@menu-prefix-cls: ~"@{ant-prefix}-navigation";

// default theme
.@{menu-prefix-cls} {
  background: #fff;
  display: flex;
  align-items: center;
  width:964px;float:left;

  & li {
    float: left;
    position: relative;
    font-size: 16px;
    margin: 0 17px;
    > a {
      line-height:33px;
      color: #333;
      &:hover {
        //color: @blue-1
        color: #ff6c00;

      }
    }
  }
  & .curr {
    a {
      font-weight: bold;
      color:#ff6c00;
      text-decoration:none;
      padding-bottom: 7px;
      //border-bottom:2px solid #007de4;
      border-bottom:2px solid #ff6c00;

    }
  }
  & li:last-child {
    background:none;
  }
}

